@font-face {
    font-family: akzindenzgrotesk;
    src: url('/css/Akzidenz-grotesk-light.ttf');
}

* {
    box-sizing: border-box;
    word-wrap: break-word;
    text-decoration: none;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: akzindenzgrotesk, Arial, Helvetica, sans-serif;
}
button {
    outline: 0;
    cursor: pointer;
}

h1, h2, h3 {
    margin: 0;
}
@media only screen and (max-width: 520px) {

    h1, h2 {
        font-size: 30px;
    }

}
