.footerdiv{
  text-align: center;
  width: 25%;
  float: left;
  margin-bottom: 15px;
}
.footerdiv > p {
  margin: 9px 0;
}
.footerdiv > h2 {
  margin: 15px 0 5px 0;
  font-size: 24px;
}
.footerdiv>img{
  width: 130px;
}

.footerdiv>a{
  text-decoration: none;
  color: white;
}
.margin-top-0 {
  margin-top: 0 !important;
}
footer{
  color: white;
  margin: 0;
  flex:auto;
  background-color: #2d2d2d;
  padding: 25px 0 30px 0;
}
#footerMediaHolder{
  display: flex;
  flex-wrap: nowrap;
}
#footerMediaHolder > ul {
  margin: auto;
  padding: 0;
}
footer .footer-logo {
  width: 150px;
}
#footerMediaHolder .fab {
  color: #ffffff;
}
@media only screen and (max-width: 800px) {

  .footerdiv{
    width: 100%;
  }

}