#wrapper {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
}
.videoParent {
  height: 100vh;
  overflow: hidden;
  position: relative;
}
#videoContainer {
    position: relative;
  padding-bottom: 54.65%;
    padding-top: 30px;
    overflow: hidden;
}
.blockVideoPanels {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 1480px) {
  .videoParent {
    height: auto;
  }

  .blockVideoPanels {
visibility: hidden;
  }
}



#wrapper{
max-width: 95%;
width: 100%;
background-color:red;
}

.youtube-vid-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#projectenPage {
  text-align: center;
  font-size: 25px;
  padding: 30px 0;
}
.projectHolder1 {
  width: 100%;
  background-color: white;
}

.ProjectButton{
  width: 20%;
  margin: 1%;
  margin-right: 15px;
  margin-left: 15px;
  float: center;
}

#cornerMedia{
position: absolute;
width: 237px;
height: 77px;
padding: 103px 0 0 142px;
background-image: url("../images/socialMediaTryangle.svg");
right: 0;
bottom: 0;
box-sizing: content-box;
margin: -1px;
z-index: 10;
}

#amsterdammertjesSection{
  display: flex;
  flex-wrap: nowrap;
  color: white;
  width: 100%;
  background-color: #ed2124; /*red*/
  font-size: 30px;
  padding-bottom: 50px;
}

#amsterdammertjesLeft{
  width: 50%;
  float: left;
  text-align: center;

}
#amsterdammertjesLeft>img{
  margin: auto;
  margin-top: 65px;
}
#amsterdammertjesLeft>h1{
  display: block;
margin: auto;
margin-top: 10%;
}
#amsterdammertjesRight > h2 {
    margin-top: 65px;
}

#amsterdammertjesRight{
  width: 50%;
  text-align: center;
  float: left;
}

#amsterdammertjesRight p {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 0 60px;
}

#amsterdammertjesMediaHolder {
  justify-content: center;
      margin-left: 30%;
}

#youtubeButton2 {
    text-decoration: none;
}
.mid {
    width: 100%;
    height: 60px;
    margin: auto;
}

#youtubeButton2>img {
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    width: 60px;
    text-decoration: none;
}

.whiteButtonBottom {
  float: left;
  border-radius: 7px;
  border: #272122 0 solid;
  border-bottom: 3px solid #E4D2D5;
  color: black;
  font-size: 20px;
  padding: 12px 20px;
  background-color: #ffffff;
  text-decoration: none;
}

.whiteButtonBottomFooter{
  border-radius: 7px;
  border: #272122 0 solid;
  border-bottom: 3px solid #E4D2D5;
  color: black;
  font-size: 20px;
  padding: 12px 20px;
  background-color: #ffffff;
  text-decoration: none;
}

#instagramButton2{
  text-decoration: none;
}

#instagramButton2>img {
    float: left;
    width: 46px;
    text-decoration: none;
}

#teamSectie{
  font-size: 30px;
  text-align: center;
  background-color: white;
  width: 100%;
  padding: 30px 0;
}
#teamSectie > h2 {
  margin-bottom: 30px;
}

.teamHolder{
  margin: auto;
  width: 75%;
  flex: 1 0 21%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teamGenootHolder{
font-size: 15px;
box-shadow: 0 0 12px 0 pink;
width: 20em;
margin: 5%;
text-align: center;
margin-right: 15px;
margin-left: 15px;
  border-radius: 10px;
  overflow: hidden;
}

.teamGenootHolder>img{
width: 100%;
}
.teamGenootHolder > h3{
  margin-top: 9px;
}
.teamGenootHolder > p {
  padding: 0 10px;
}
#samenwerkenSectie{
  padding: 30px 0;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 30px;
  background-color: #6160d6;
  flex: auto;
}
#samenwerkenSectieButtonHolder {
  margin-top: 30px;
}
#samenwerkenSectieButtonHolder button {
  margin: 15px;
}

#samenwerkenSectie > button:hover{
  opacity: 0.8;
  transition: 0.5s;
}




.fab {
  text-align: left;
  margin-left: 16px;
  margin-top: 10px;
  font-size: 38px;
}

#cornerMediaWrapper{
  margin-left: 40px;
}
#cornerMediaWrapper a {
  color: #000000;
}


@media only screen and (max-width: 900px) {

  html, body{
    overflow-x: hidden;
 }

#amsterdammertjesSection{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

#amsterdammertjesLeft{
  width: 100%;
  float: left;
}

#amsterdammertjesRight{
width: 100%;
text-align: center;
font-size: 25px;
float: left;
}

  #amsterdammertjesLeft>img {
    margin: auto;
    width: 410px;
    margin-top: 50px;
  }

#amsterdammertjesMediaHolder{
  justify-content: right;
  margin-top: 25px;
  margin-left: 20%;
}

.teamHolder{
  width: 100%;
}

.teamGenootHolder{
  width: 40%;
  margin: 2%;
}

  #cornerMedia {
    opacity: 0;
      width: 100%;
      height: 77px;
      padding: 0;
      background-color: white;
  }

}

@media only screen and (max-width: 620px) {

  #amsterdammertjesRight p {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 20px;
  }

}

@media only screen and (max-width: 620px) {

  #amsterdammertjesRight p {
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 0 20px;
  }

}

@media only screen and (max-width: 450px) {

  #amsterdammertjesRight > h2 {
    margin-top: 65px;
    font-size: 34px;
  }

  #amsterdammertjesLeft img {
    width: 100%;
  }

  .teamGenootHolder > p {
    line-height: 19px;
  }
}
