#loginContainer{
  margin: auto;
  margin-top: 150px;
  width: 50%;
  height: auto;
  text-align: center;
  padding: 5px;
}

#loginContainer>form{
  margin: auto;
}
#loginContainer > h1 {
  margin-bottom: 20px;
}

form>input{
  width: 50%;
  padding: 10px;
  margin-bottom: 15px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 100%;
   box-shadow: 5px 5px 5px grey;
     border: 2px solid #E94A9E;
}

.loginButton{
  display: inline-block;
  padding: 0.7em 1.4em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 8px;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
  background-color: #E94A9E;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
  text-align: center;
  position: relative;
}

#footerContainer{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

}
