/*Code in dit bestand is gemaakt door Maurice de Jong - MD3A*/

/*Begin Maurice*/
nav, .nav-sticky-fix, .mobile-nav {
    color: #fff;
    height: 55px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}
.nav-logo {
    height: 60px;
    display: none;
    margin-left: 10px;
}
.nav-sticky-fix .nav-mobile-logo, .mobile-nav {
    display: none;
}
nav.sticky {
    background-color: black;
    position: fixed;
    box-shadow: rgb(0, 0, 0) 0 0 6px 0;
}
nav.sticky .nav-logo {
    display: block;
}
.portfolio_container {
    background-color: #F2EFEF;
    width: 100%;
    padding: 50px 0 70px;
}
nav.transparent {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 0, 0));
    position: fixed;
}
nav ul {
    position: absolute;
    right: 0;
    top: 0;
}
nav ul a {
    text-decoration: none;
}
nav ul li {
    display: inline;
    list-style-type: none;
    padding: 14px 8px 12px;
    font-size: 20px;
    font-weight: 600;
    transition: border-bottom-color 0.5s;
    border-bottom: rgba(230, 38, 134, 0) 3px solid;
    color: #ffffff;
}
nav.sticky ul li:hover, nav.sticky .selected {
    border-bottom: #E62686 3px solid;
}

.position-relative {
    position: relative !important;
}

@media only screen and (max-width: 600px) {

    nav {
        height: 100%;
        background-color: rgba(235, 69, 159, 0.92) !important;
        width: 280px;
        box-shadow: rgb(0, 0, 0) 0 0 0 0 !important;
        right: -300px;
        left: unset;
        top: 55px;
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)) !important;
        transition: right 0.3s;
    }
    nav.open {
        right: 0 !important;
    }

    .mobile-nav {
        background-color: black;
        position: fixed;
        top: 0;
        left: 0;
    }
    .mobile-nav .nav-mobile-logo, .mobile-nav {
        display: block;
    }
    .nav-mobile-logo {
        height: 60px;
        position: absolute;
        top: 0;
        left: 10px;
    }
    nav.sticky .nav-logo {
        display: none;
    }
    nav ul {
        right: unset;
        left: 0;
        width: 100%;
        margin-top: 40px;
    }
    nav ul li {
        display: block;
        padding: 6px 3px;
        color: #000000;
        border-bottom: #E62686 0 solid;
        transition: color 0.2s;
    }
    nav ul li:hover {
        border-bottom: #E62686 0 solid !important;
        color: white;
    }
    nav ul li {
        border-bottom: #E62686 0 solid !important;
    }

    .mobile-ham-block {
        position: relative;
        display: inline-block;
        float: right;
        margin: 13px 16px 0 0;
        width: 35px;
        height: 28px;
        border-radius: 5px;
        background-color: white;
    }
    .mobile-ham-block:before, .mobile-ham-block div, .mobile-ham-block:after {
        content: '';
        position: absolute;
        height: 2px;
        width: 25px;
        background-color: #eb52a5;
        left: 5px;
    }
    .mobile-ham-block:before {
        top: 6px;
    }
    .mobile-ham-block div{
        top: 13px;
    }
    .mobile-ham-block:after {
        top: 20px;
    }
}

/* Einde Maurice*/