/*Begin Maurice*/
.mid-container {
    width: 100%;
    max-width: 1400px;
    margin:auto;
}
.one-two {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}
.one-two-portfolio {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.clear {clear: both;}
.mid {
    width: 500px;
    height: 60px;
    margin: auto;
}

.portfolio_videoContainer {
    border-radius: 10px;
    overflow: hidden;
    width: 526px;
    height: 296px;
    margin: auto;
    margin-top: 25px;
    transition: transform 0.5s, margin-left 0.5s;
}
.text-align-right {
    text-align: right;
}

.portfolio_videoContainer > iframe {
    width: 100%;
    height: 100%;
}
.full_Width-Title {
    width: 100%;
    text-align: center;
    color: #ED47A0;
    font-size: 45px;
    font-weight: bold;
}
.middle_Text {
    margin-top: 22px;
}
.arrow {
    position: absolute;
    right: 0;
    top: 115px;
    background-image: url("../images/arrow.svg");
    width: 39px;
    height: 59px;
    transition: width 0.5s, height 0.5s;
    cursor: pointer;
}
.arrow-left {
    transform: rotateY(180deg);
    left: 0 !important;
}
.opacity_0-5 {
    opacity: 0.5;
}
.arrow-Holder {
    position: relative;
    padding: 0 50px;
    box-sizing: border-box;
}
.portfolioItem {
    height: 270px;
    width: 480px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.51);
    transform: scale(0.85);
    margin-left: -36px;
    margin-top: -20px;
    transition: transform 0.5s;
}
.portfolioItem > img {
    margin-top: -45px;
}
.portfolioItem-gradient {
    /*content: '';*/

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*opacity: 0.7;*/
}
.gradient-blue_purple {
    /*background-image: linear-gradient(to bottom right, rgba(62, 130, 255, 0.7), rgba(243, 57, 190, 0.7));*/
    background-image: linear-gradient(to bottom right, rgba(23, 23, 23, 0.3), rgba(23, 23, 23, 0.3));
}
.gradient-black_blue {
    /*background-image: linear-gradient(to bottom right, rgba(23, 23, 23, 0.7), rgba(62, 130, 255, 0.7));*/
    background-image: linear-gradient(to bottom right, rgba(23, 23, 23, 0.3), rgba(23, 23, 23, 0.3));
}
.gradient-purple_black {
    /*background-image: linear-gradient(to bottom right, rgba(243, 57, 190, 0.7), rgba(23, 23, 23, 0.7));*/
    background-image: linear-gradient(to bottom right, rgba(23, 23, 23, 0.3), rgba(23, 23, 23, 0.3));
}
.portfolioItem-Animation {
    width: 408px;
    height: 230px;
    float: left;
}
.portfolioItem-title {
    height: 60%;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
    padding: 15px;
    text-align: right;
}
.portfolioItem-button {
    padding: 8px 14px;
    border-radius: 5px;
    background-color: white;
    width: fit-content;
    margin-top: 54px;
    margin-left: 15px;
    font-size: 19px;
    font-weight: bold;
    color: #ED47A0;
}
.padding-50 {
    padding: 0 50px;
}
.projectLibary_container {
    padding: 24px 0 51px;
}
@media only screen and (max-width: 1390px) {
    .portfolioItem-Animation {
        width: 312px;
        height: 176px;
    }
    .portfolioItem {
        transform: scale(0.65);
        margin-left: -84px;
        margin-top: -47px;
    }
    .arrow {
        top: 86px;
    }
}
@media only screen and (max-width: 1080px) {
    .portfolioItem-Animation {
        width: 264px;
        height: 149px;
    }
    .portfolioItem {
        transform: scale(0.55);
        margin-left: -108px;
        margin-top: -60px;
    }
    .arrow-Holder {
        padding: 0 31px;
    }
    .arrow {
        width: 26px;
        height: 40px;
    }
    .portfolio_videoContainer {
        transform: scale(0.8);
    }
}
@media only screen and (max-width: 890px) {
    .portfolioItem-Animation {
        width: 312px;
        height: 176px;
    }
    .portfolioItem {
        transform: scale(0.65);
        margin-left: -84px;
        margin-top: -47px;
    }
    .one-two-portfolio {
        justify-content: space-around;
    }
    .portfolio_videoContainer {
        transform: scale(1);
    }
    .one-two {
        width: 100%;
    }
    .full_Width-Title {
        font-size: 30px;
    }
}
@media only screen and (max-width: 723px) {
    .portfolioItem-Animation {
        width: 264px;
        height: 149px;
    }
    .portfolioItem {
        transform: scale(0.55);
        margin-left: -108px;
        margin-top: -60px;
    }

}
@media only screen and (max-width: 630px) {
    .portfolioItem-Animation {
        width: 264px;
        height: 149px;
    }
    .portfolioItem {
        transform: scale(0.55);
        margin-left: -108px;
        margin-top: -60px;
    }

}
@media only screen and (max-width: 597px) {
    .portfolioItem-Animation {
        width: 312px;
        height: 176px;
    }
    .portfolioItem {
        transform: scale(0.65);
        margin-left: -84px;
        margin-top: -47px;
    }
    .portfolio_videoContainer {
        width: 375px;
        height: 211px;
    }
}

@media only screen and (max-width: 425px) {
    .full_Width-Title {
        font-size: 24px;
    }
    .portfolio_videoContainer {
        width: 375px;
        height: 210px;
    }
    .portfolioItem {
       transform: scale(0.50);
       margin-left: -84px;
       margin-top: -47px;
    }

    .projectLibary_container {
        padding: 0 0 51px;
    }
    .middle_Text {
        padding: 0 10px !important;
        text-align: center;
    }
    .one-two {
        padding: 0;
    }
    .portfolio_videoContainer {
        width: 284px;
        height: 160px;
    }
}
/* Einde Maurice*/