/*Code in dit bestand is gemaakt door Melissa Vriend, Maurice de Jong, en Frank Mühren - MD3A*/

/* Begin Gradient part */

.wrapper_gradient {
    width: 100%;
    padding: 50px 0 70px;
    color: white;
    font-size: 120%;
    background: #f059ac;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f059ac 0%, #e75aae 0%, #e75aae 0%, #d65bb3 0%, #6160d6 100%, #875ecb 100%, #6160d6 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f059ac 0%, #e75aae 0%, #e75aae 0%, #d65bb3 0%, #6160d6 100%, #875ecb 100%, #6160d6 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f059ac 0%, #e75aae 0%, #e75aae 0%, #d65bb3 0%, #6160d6 100%, #875ecb 100%, #6160d6 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f059ac', endColorstr='#6160d6', GradientType=0);
}


.video_text {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}
#testimonialValue {
    font-size: 35px;
    font-weight: bold;
    padding: 0 2px;
}
.stage_video {
    border-radius: 10px;
    overflow: hidden;
    width: 526px;
    height: 296px;
    margin: auto;
    margin-top: 25px;
    transition: transform 0.5s, margin-left 0.5s, width 0.5s, height 0.5s;
    box-shadow: rgba(0, 0, 0, 0.28) 0 2px 5px 0;
}

.stage_video>iframe {
    width: 100%;
    height: 100%;
}

.stage_text {
    padding: 0 50px;
    margin-top: 22px;
}


.stage_text>p {
    letter-spacing: 1px;
}


.big_quote {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding: 0 5px;
}

#testimonial-container span {
    display: none;
  }
  #testimonial-container {
    display:inline-block;
  }

  /*.big_quote {*/
  /*  opacity: 0;*/
  /*  transition: 5s;*/
  /*}*/

  .show {
    opacity: 1;
  }

/* End gradient */

/* start frank dropdown menu */

#dropDownWrapper{
  margin: 0;
  display: flex;
  flex-wrap: nowrap;
  background-color: #F2EFEF;
}

.dropDownContainer{
    margin: auto;
    margin: 10px auto;
}

.dropDown{
  margin: 5%;
  height: 50px;
  width: 300px;
  color: white;
  background-color: #E94A9E;
  border-radius: 7px;
  border: #272122 0 solid;
  border-bottom: 3px solid #E4D2D5;
  font-size: 20px;
}

.dropDownContentContainer{
  margin: 5%;
}

.dropDownContentContainer>p{
  max-width: 300px;
  margin: 5%;
}
/* end frank dropdown menu */

/* Buttons*/

.button1 {
    border: 0;
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    background-color: #FFFFFF;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

a.button1:active {
    top: 0.1em;
}

 @media all and (min-width : 516px) and (max-width : 1176px) {
   #dropDownWrapper{
     margin: 0;
     display: flex;
     flex-direction: column;
     background-color: #F2EFEF;
   }
 }

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;

    }

    /* .dropDownContainer{
      float: left;
    } */

        #dropDownWrapper{
          flex-direction: column;
        }
        #dropDownWrapper .dropDownContainer {
          display: flex;
            flex-direction: column;
        }
        #dropDownWrapper .dropDownContainer > button {
          margin: .4em auto;
        }

        .dropDownContentContainer>p{
          float: left;
        }

  #dropDownWrapper .dropDownContainer:last-child {
    margin-left: auto;
  }

  #dropDownWrapper .dropDownContainer:first-child {
    margin-right: auto;
  }
}



/* end buttons */




/* forum */


.wrapper_form {
    width: 100%;
    background-color: #F2EFEF;
    overflow: auto;
    padding: 30px 0;
}

.two_blocks {
    width: 50%;
    float: left;
}

.form_leftInfo {
    padding: 0 50px;
}


.text-align-left {
    text-align: left !important;
}
.text-align-center {
    text-align: center !important;
}



input,
textarea {
  border-radius: 5px;
  width: calc(50% - 4px);
  padding: 5px 6px;
  font-size: 15px;
  margin-bottom: 15px;
  border: solid 1px rgb(169, 169, 169);
}
input[type=file] {
    width: 100%;
    font-size: 14px;
    background-color: white;
    margin-top: 5px;
}
textarea {
    width: 100%;
    height: auto;
    resize: none;
}

.form_input {
    max-width: 400px;
    margin: auto;
    padding: 0 10px;
}

.send {
    background-color: #E94A9E !important;
    color: white !important;
}

.form_rightInfo>h1 {
    margin-bottom: 25px;
}
/* RESPONSIVE */

@media only screen and (max-width:1080px) {
    .stage_video {
        transform: scale(0.8);
    }
}

@media only screen and (max-width: 890px) {
    .video_text {
        width: 100%;
        padding: 0;
    }

    .stage_video {
        transform: scale(1);
        margin-top: 0;
    }

    .stage_text {
        width: 100%;
    }

    .stage_text>p {
        max-width: 100%;
    }

    .stage_text>h1 {
        text-align: center;
    }

    .two_blocks {
        width: 100%;
    }
    .form_leftInfo {
        padding: 30px 33px;
    }

}

@media only screen and (max-width: 597px) {
    .stage_video {
        width: 375px;
        height: 211px;
    }

    .stage_text>h1 {
        font-size: 30px;
    }

    .form_leftInfo>h1 {
        font-size: 30px;
    }

    .form_rightInfo>h1 {
        font-size: 30px;
    }
}

@media only screen and (max-width: 425px) {
    .stage_video {
        width: 286px;
        height: 161px;
    }
    .video_text {
        padding: 0;
    }
    .stage_text>h1 {
        font-size: 25px;
    }
    .stage_text>p {
        font-size: 16px;
    }
    .form_leftInfo {
        text-align: left;
    }
    .form_leftInfo>h1 {
        font-size: 20px;
    }
    .form_rightInfo>h1 {
        font-size: 20px;
    }
    .stage_text {
        padding: 0 10px;
        margin-top: 35px;
        text-align: center;
    }
    .wrapper_gradient {
        padding: 20px 0 40px;
    }
    #testimonialValue {
        font-size: 23px;
    }
}





















/*
.wrapper_form {
    width: 100%;
    background-color: rgb(48, 155, 141);
    padding: 50px 0 70px;
}



.infoAndInput {
    width: 50%;
    text-align: center;

}







.wrapper_input {
    max-width: 400px;
    margin: auto;
    text-align: right;
}


input, textarea {
    border: 2px solid #E94A9E;
    padding: 4px 6px;
    border-radius: 8px;
    font-size: 110%;
    width: calc(50% - 4px)
}

textarea {
    width: 100%;
}

.send {
    background-color: #E94A9E !important;
    color: white !important;
} */
/* responsive */
















/* //Melissa code amsterdammertjes */
/* .wrapper_Adam {
    background-color: #ED2124;
    color: white;
    font-size: 120%;
    padding: 3em;
}

.Adam_logo {
    width: 50%;
    text-align: center;
}

.buttons_Adam {
    text-align: center;
    display: flex;
    width: 100%;
}

a.button1 {
    display: inline-block;
    padding: 0.7em 1.4em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 8px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: black;
    background-color: #FFFFFF;
    box-shadow: inset 0 -0.6em 0 -0.35em rgba(0, 0, 0, 0.17);
    text-align: center;
    position: relative;
}

a.button1:active {
    top: 0.1em;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

.socials {
    height: 50px;
    padding: 0 10px;
}

.social_wrapper {
    text-align: center;
    width: 100%;

} */
