* {
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  font-family: akzindenzgrotesk, Arial, Helvetica, sans-serif;
}

/* Font size is 30 pixels. except for projectpage */

@font-face {
  font-family: akzindenzgrotesk;
  src: url('Akzidenz-grotesk-light.ttf');
}
#wrapper {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: white;
}

#videoContainer {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    overflow: hidden;
}


/*Begin Maurice*/
nav {
    color: #fff;
    height: 55px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}

nav.sticky {
    background-color: black;
}
.portfolio_container {
    background-color: #F2EFEF;
    width: 100%;
    padding: 50px 0 70px;
}
nav.transparent {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(255, 255, 0, 0));
}
nav ul a {
text-decoration: none;
}
nav ul li {
    display: inline;
    list-style-type: none;
    padding: 14px 8px;
    font-size: 20px;
    font-weight: 600;
    transition: border-bottom-color 0.5s;
    border-bottom: rgba(230, 38, 134, 0) 3px solid;
    color: #ffffff;
}
nav.sticky ul li:hover {
    border-bottom: #E62686 3px solid;
}
/* Einde Maurice*/





#wrapper{
max-width: 95%;
width: 100%;
background-color:red;
}

#cornerMedia {
position: absolute;
right: 0;
bottom: 0;
}
.youtube-vid-full {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#projectenPage {
  text-align: center;
  font-size: 25px;
  padding-bottom: 5%;
}
.projectHolder1 {
  width: 100%;
  background-color: white;
}

/* .projectHolder2 {
  width: 100%;
  background-color: white
} */

.ProjectButton{
  width: 20%;
  margin: 1% 15px;
}

#amsterdammertjesSection{
  display: flex;
  color: white;
  width: 100%;
  background-color: #ed2124; /*red*/
  font-size: 30px;
  padding-bottom: 50px;
}

#amsterdammertjesLeft{
  width: 60%;
  height: 100%;
  left: 0;
  display:block;
  margin:auto;
}
#amsterdammertjesLeft>img{
  display: block;
margin: auto;
width: 50%;
margin-top: 10%;
margin-bottom: 10%;
}
#amsterdammertjesLeft>h1{
  display: block;
margin: auto;
margin-top: 10%;
}

#amsterdammertjesRight{
  width: 40%;
  height: 100%;
  padding-right: 5%;
  text-align: center;
  right: 0;
  flex: auto;
}

#bekijkNuButton{
  text-decoration: none;
  width: 30%;
  border-style: solid;
  border-radius: 15px;
  border-width: 4px;
  border: none;
  border-top: none;
  border-left: none;
  border-color: #e4d2d5;
  margin: 3%;
  color: black;
  font-size: 20px;
  padding: 3%;
}

#bekijkNuButton:hover{
  opacity: 0.8;
  transition: 0.5s;
}

#amsterdammertjesMediaHolder {
    margin: 10px;
    margin-right: 15%;
    float: right;
}
#cornerMedia{
position: absolute;
right: 0;
bottom: 0;
background-image: url("../images/corner.svg");
}

#youtubeButton {
    text-decoration: none;
}
#youtubeButton2 {
    text-decoration: none;
}
.mid {
    width: 500px;
    height: 60px;
    margin: auto;
}

#youtubeButton>img{
  margin-right: 20px;
  width: 75px;
  text-decoration: none;
}

#instagramButton{
    margin-top: 15px;
  text-decoration: none;
}

#instagramButton>img{
  margin-left: 20px;
  margin-top: 5%;
  width: 60px;
  text-decoration: none;
}

#teamSectie{
  font-size: 30px;
  text-align: center;
  background-color: white;
  width: 100%;
  padding-bottom: 30px;
}

.teamHolder{
  display: flex;
  flex: auto;
  display: row;
  justify-content: center;
}

.teamGenootHolder{
font-size: 15px;
box-shadow: 5px 5px 5px pink;
width: 20em;
height: 30em;
margin: 5%;
text-align: center;
margin-right: 15px;
margin-left: 15px;
}

.teamGenootHolder>img{
width: 100%;
}

#samenwerkenSectie{
  padding-top: 2%;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 30px;
  background-color: #6160d6;
  flex: auto;
}

#samenwerkenSectie>button{
  text-decoration: none;
  width: 15%;
  border-radius: 15px;
  margin: 5%;
  border-bottom: solid;
  border-top: none;
  border-left: none;
  border-right: solid;
  border-color: #8585db;
  color: black;
  font-size: 20px;
  padding: 1%;
  border-width: 4px;
}

#samenwerkenSectie>button:hover{
  opacity: 0.8;
  transition: 0.5s;
}

.footerdiv{
  text-align: center;
  width: 25%;
  float: left;
  height: 100%;
  background-color: #2d2d2d;
}

.footerdiv>img{
width: 25%;
}

.footerdiv>a{
  text-decoration: none;
  color: white;
}

.footerMediaButtons>img{
  width: 10%;
}

footer{
  height: 250px;
  color: white;
  margin: 0;
  flex:auto;
  background-color: #2d2d2d;
}




.fab{
    text-align: center;
  margin: auto;
  margin-right: 15px;
  font-size: 50px;
}

/*Begin Maurice*/
.mid-container {
    width: 100%;
    max-width: 1400px;
    margin:auto;
}
.one-two {
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    float: left;
}
.one-two-portfolio {
    width: 100%;
    float: left;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.clear {clear: both;}
.mid {
    width: 500px;
    height: 60px;
    margin: auto;
nav.sticky ul li:hover {
    border-bottom: #E62686 3px solid;
}
.clear {
    clear: both;
}

.mid {
    width: 500px;
    height: 60px;
    margin: auto;
}

.portfolio_videoContainer {
    border-radius: 10px;
    overflow: hidden;
    width: 526px;
    height: 296px;
    margin: auto;
    margin-top: 25px;
    transition: transform 0.5s, margin-left 0.5s;
}
.text-align-right {
    text-align: right;
}
@media only screen and (max-width: 600px) {
  #amsterdammertjesSection{
    height: 15em;
    font-size: 15px;

/* landingspage viewports: */

@media only screen and (max-width: 800px) {

  html, body{
    overflow-x: hidden;
  }

#amsterdammertjesSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  #amsterdammertjesSection{
    height: 15em;
    font-size: 15px;
  }
}

.portfolio_videoContainer > iframe {
    width: 100%;
    height: 100%;
}
.full_Width-Title {
    width: 100%;
    text-align: center;
    color: #ED47A0;
    font-size: 45px;
    font-weight: bold;
}
.middle_Text {
    margin-top: 22px;
}
.arrow {
    position: absolute;
    right: 0;
    top: 115px;
    background-image: url("../images/arrow.svg");
    width: 39px;
    height: 59px;
    transition: width 0.5s, height 0.5s;
    cursor: pointer;
}
.arrow-left {
    transform: rotateY(180deg);
    left: 0 !important;
}
.opacity_0-5 {
    opacity: 0.5;
}
.arrow-Holder {
    position: relative;
    padding: 0 50px;
    box-sizing: border-box;
}
.portfolioItem {
    height: 270px;
    width: 480px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.51);
    transform: scale(0.85);
    margin-left: -36px;
    margin-top: -20px;
    transition: transform 0.5s;
}
.portfolioItem > img {
    margin-top: -45px;
}
.portfolioItem-gradient {
    /*content: '';*/
    background-image: linear-gradient(to bottom right, rgba(243, 57, 190, 0.7), rgba(62, 130, 255, 0.7));
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*opacity: 0.7;*/
}
.portfolioItem-Animation {
    width: 408px;
    height: 230px;
    float: left;
}
.portfolioItem-title {
    height: 60%;
    width: 100%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    word-wrap: break-word;
    overflow: hidden;
    padding: 10px;
    text-align: right;
}
.portfolioItem-button {
    padding: 8px 14px;
    border-radius: 5px;
    background-color: white;
    width: fit-content;
    margin-top: 54px;
    margin-left: 15px;
    font-size: 19px;
    font-weight: bold;
    color: #ED47A0;
}
.padding-50 {
    padding: 0 50px;
}
.projectLibary_container {
    padding: 24px 0 51px;
}
@media only screen and (max-width: 1390px) {
    .portfolioItem-Animation {
        width: 312px;
        height: 176px;
    }
    .portfolioItem {
        transform: scale(0.65);
        margin-left: -84px;
        margin-top: -47px;
    }
    .arrow {
        top: 86px;
    }
}
@media only screen and (max-width: 1080px) {
    .portfolioItem-Animation {
        width: 264px;
        height: 149px;
    }
    .portfolioItem {
        transform: scale(0.55);
        margin-left: -108px;
        margin-top: -60px;
    }
    .arrow-Holder {
        padding: 0 31px;
    }
    .arrow {
        width: 26px;
        height: 40px;
    }
    .portfolio_videoContainer {
        transform: scale(0.8);
    }
}
@media only screen and (max-width: 890px) {
    .portfolioItem-Animation {
        width: 312px;
        height: 176px;
    }
    .portfolioItem {
        transform: scale(0.65);
        margin-left: -84px;
        margin-top: -47px;
    }
    .one-two-portfolio {
        justify-content: space-evenly;
    }
    .portfolio_videoContainer {
        transform: scale(1);
    }
    .one-two {
        width: 100%;
    }
}
@media only screen and (max-width: 723px) {
    .portfolioItem-Animation {
        width: 264px;
        height: 149px;
    }
    .portfolioItem {
        transform: scale(0.55);
        margin-left: -108px;
        margin-top: -60px;
    }
}
@media only screen and (max-width: 630px) {
    .portfolioItem-Animation {
        width: 264px;
        height: 149px;
    }
    .portfolioItem {
        transform: scale(0.55);
        margin-left: -108px;
        margin-top: -60px;
    }

}
@media only screen and (max-width: 597px) {
    .portfolioItem-Animation {
        width: 312px;
        height: 176px;
    }
    .portfolioItem {
        transform: scale(0.65);
        margin-left: -84px;
        margin-top: -47px;
    }
.portfolio_videoContainer {
    width: 375px;
    height: 211px;
}
}

@media only screen and (max-width: 419px) {

    .portfolio_videoContainer {
        width: 375px;
        height: 211px;
    }
}
@media only screen and (max-width: 330px) {
    .portfolio_videoContainer {
        width: 100%;
        height: 210px;
    }
    .one-two {
        padding: 0;
    }
}
/* Einde Maurice*/

@media only screen and (max-width: 419px) {

    .portfolio_videoContainer {
        width: 375px;
        height: 211px;
    }
}
@media only screen and (max-width: 330px) {
    .portfolio_videoContainer {
        width: 100%;
        height: 210px;
    }
    .one-two {
        padding: 0;
    }
}
/* Einde Maurice*/