/* Begin Maurice*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #ffb3d7;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffb8da;
}
tr:nth-child(odd) {
    background-color: #ffcfe6;
}
/*Einde Maurice*/