/*Begin Maurice*/
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
}
main {
    float: left;
    width: calc(100% - 320px);
    height: 100%;
    min-height: 100vh;
    background-color: #f7f7f7;
    position: fixed;
    top: 0;
    left: 320px;
    overflow-y: scroll;
}
.color-red, .color-red > a {
    color: #cc1414 !important;
}

input {
    padding: 10px !important;
    border-radius: 5px;
    font-size: 100%;
    border: 2px solid #E94A9E;
    outline: none;
}
textarea {
    outline: none;
}
input[type="submit"] {
    color: white;
    background-color: #E94A9E;
    border: 0 solid #ffffff !important;
    border-bottom: #c13e83 4px solid !important;
    cursor: pointer;
}
input[type="file"] {
    background-color: #ffffff;
}
.button-pink {
    background-color: #E94A9E;
    padding: 11px;
    color: white;
    border-radius: 6px;
    border: 0 solid #C13E83;
    border-bottom: 4px solid #C13E83;
    display: inline-block;
}
.alert {
    width: 100%;
    text-align: center;
    color: #ffffff;
    /*padding: 10px 0;*/
}
.background_color_alert_red {
    background-color: #F44336;
}
.background_color_alert_blue {
    background-color: #00b0ff;
}
.background_color_alert_green {
    background-color: #51a956;
}
.background_color_alert_yellow {
    background-color: #eab000;
}
.cursor-pointer {
    cursor: pointer;
}
/*Einde Maurice*/
