/*Begin Maurice*/
nav {
    float: left;
    width: 320px;
    height: 100%;
    min-height: 100vh;
    background-color: #ececec;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
}
nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #383838;
}
nav > ul > li {
    font-weight: bold;
}
nav ul li {
    padding: 15px 0;
    transition: background-color 0.5s;
    cursor: pointer;
}
nav ul li:hover {
    background-color: #e0e0e0;
}
nav ul ul {
    background-color: #dedede;
    display: none;
}
nav ul ul li{
    /*padding: 8px 0 8px calc(50% - 10px);*/
    /*text-align: left;*/
    text-align: center;
}
nav ul ul li:hover {
    background-color: #d2d2d2;
}
.background-color-red-hover:hover {
    background-color: #f3c5c5;
}
a {
    text-decoration: none;
}
nav .selected {
    background-color: #d8d7d7;
}
/*Einde Maurice*/