/*begin frank footer edit page*/

input[type="submit"] {
    color: white;
    background-color: #E94A9E;
    border-bottom: #c13e83 4px solid;
    font-weight: bold;
}

.guideSection{
  padding: 10px;
  width: 90%;
  background-color: #ececec;
  margin: 10px auto 10px auto;
  border-radius: 10px;
}

.footerEditSection{
  padding: 10px;
  width: 90%;
  background-color: #ffdaec;
  margin: 30px auto 10px auto;
  border-radius: 10px;
}

.footerEditSection input{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 100%;
  border: 2px solid #E94A9E;
  min-width: 500px;
  box-sizing: border-box;
}
.footerEditSection textarea{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 5px;
  border: 2px solid #E94A9E;
}

.descriptionText{
  margin-bottom: -5px;
}

.thickFont{
  font-weight: bold;
}

/*einde frank footer edit page*/
